* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body{
    background-color: indigo;
}
img {
    max-width: 100%;
    height: 100%;
    object-fit: scale-down ;
    display: inline-block;
}
.imageSize {
    width: 100%;
    height: 100%;

}
#mobile-nav {
    display: none;
}
.nav-bar {
    position: absolute;
    z-index: 2;
    width: 100%;
}
ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    list-style: none;
    height: 10vh;
    background-color: rgba(100, 100, 100, .02);
}
li a{
    display: block;
    color: limegreen;
    text-decoration: none;
    font-size: 1.5rem;
}
#name {
    color: pink;
    font-size: 30px;
    font-weight: bold;
}

/*HeroSection*/

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.image-container {
    position: relative;
    background-image: url(./images/MV5BOWQ2OTAzNWYtMjI0OS00MWVmLTgzYTQtM2Q5ZGUzN2NiMDAwXkEyXkFqcGdeQXVyNzExMDYxODE@._V1_.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    margin-top: 0vh;
    animation: scale 15s;
}
@keyframes scale {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
} 
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.hero-text {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    z-index: 2;
}
.firstWord {
    color: limegreen;
}
.movie-cta {
    border: 2px solid limegreen;
    width: 175px;
    padding: 30px;
    margin-top: 20px;
}
.movie-text {
    color: #fff;
}
.movie-cta:hover {
    background-color: limegreen;
}

/* Shabash section */
.btn-1 {
 width: 250px;
 height: 60px;
 line-height: 50px;
 background:transparent;
 color: hotpink;
 font-size: 25px;
 border: 2px solid limegreen;
 margin-top: 20px;
text-align: center;
}
iframe{
    pointer-events: none;
}
.btn-1:hover {
    background-color: limegreen;
}
.cocktail-container {
    width: 100%;
    height: auto; 
    position: relative;
    background-image: url('');
    background-size: cover;
    background-position: center;
   
    margin-top: 0vh;
    animation: scale 15s;
}
.cocktail-header {
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: limegreen;
}
.cocktail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
   
}
.movie {
    width: 400px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin: 50px;
    background-size: cover;
    background-position: center;
}
.cocktail-project {
    width: 400px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-size: cover;
    background-position: center;
}
.text-container {
    position: absolute;
    height: 75px;
    width: 100%;
    z-index: 2;
    left: 0;
    bottom: 0;
    background-color: limegreen;
    overflow: hidden;
    
}
.text-container:hover {
    height: 200px;
}
.name {
    margin-top: 10px;
    color: hotpink;
    font-size: 2rem;
    text-align: center;
}
.content {
    padding: 25px 0;
    color: hotpink;
}
.button {
    border: 5px solid limegreen;
    width: 160px;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2) ;
    padding: 15px;
    margin-bottom: 50px;
    background-color:  transparent;
    
}


/* About Section */

.about-container {
    margin: 10%;
    width: 80%;
    height: auto;
    background-color: #f8f8f8;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: limegreen;
}
.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}
.about-text {
    height: auto;
    width: 40%;
    font-size: 1.5rem;
    margin-left: 100px;
    padding-bottom: 2rem;    
}
.h2about {
    color: hotpink;
    text-align: center;
    }
/* combo section */
.combo-section {
    height: 400px;
    width: 400px;
    padding:15px 10px ;
    background-size: cover;
    background-position: center;
    align-items: center;
    
}
.combo-section h2 {
    text-align: center;
    margin-bottom: 15px;
    color: hotpink;
}
#save-btn {
    width: 150px;
    height: 50px;
    line-height: 50px;
    background:transparent;
    color: hotpink;
    font-size: 25px;
    border: 2px solid indigo;
    margin-top: 20px;
    text-align: center;
    padding-bottom: 40px;
    justify-content: center;
    margin-left: 100px;
   }
  
   #save-btn:hover {
       background-color: indigo;
   }
   .save-combo {

   }


/* socail icons */

 .social-icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2rem;
    width: 100%;
    margin: 25px 35px;
    animation: scale 15s;
}


/* Mobile View */
@media (max-width: 768px) {
    #nav {
        display: none;
    }
    #mobile-nav {
        display: block;
    }
    .mobile-nav-bar {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 5;
    }
    ul {
        background-color:transparent rgba(0, 0, 0, 0.4);
    }
    .cocktail-project {
        width: 250px;
        height: 400px;
        background: #fff;
        position: relative;
        box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        margin: 50px;
        background-image: url('');
        background-size: cover;
        background-position: center;
    }
    .movie {
        width: 250px;
        height: 400px;
        background: #fff;
        position: relative;
        box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        margin: 50px;
        background-image: url();
        background-size: cover;
        background-position: center;
       
    }
    .about-container {
        display: table-row;
        align-items: center;
        justify-content: space-between;
        background-color: limegreen;
        box-shadow: 15px 7px 30px rgba(0, 0, 0, 0.2);
        width: 250px;
    }
    .about-text {
        margin-left: 20px;
        width: 90%;
        font-size: 0.75rem;
        padding-bottom: 2rem;
    }
    .combo-section {
        margin-top: 20px;
        height: 300px;
        width: 250px;
        background-size: cover;
        background-position: center;
        text-align: center;
    }
    #save-btn {
        width: 100px;
        height: 60px;
        line-height: 50px;
        background:transparent;
        color: hotpink;
        font-size: 25px;
        border: 2px solid indigo;
        margin-top: 20px;
        text-align: center;
        padding-bottom: 60px;
        margin-left: 5px;
       }
       #save-btn:hover {
           background-color: indigo;
       }
    .social-icon i {
        font-size: 2rem;
        padding: 10px;
        margin-left: -10px;
    }
}
/*end of mobile view */

/* footer */
footer{
    background-color: limegreen;
    width: 100%;
    padding: 40px 35px;
}
footer h2 {
    display: inline;
    color: hotpink;
    font-size: 30px;
    margin: 0;
}
.copy {
    padding-top: 13px;
    color: hotpink;
}
i {
    color: hotpink;
}

/* end of footer*/
